h1 {
  margin: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  height: auto;
}

.quote--container {
  background-color: khaki;

  display: flex;
  flex-direction: column;

  margin: auto;
  height: 500px;
  width: auto;

  padding: 40px;
}

.quote--container__text {
  font-size: 3.5rem;
}

.quote--container__author {
  font-size: 3rem;
}

.quote--button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  height: auto;

  margin: 0.85rem;
}

.quote--button__container > button {
  width: 13rem;
  margin: 10px;

  font-size: 1.15rem;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
}

.quote--button__container > button:hover {
  background-color: grey;
}

/* i can make a list of the colors that i want and create some logic so that every time the 
background switches, so does the button and font, i don't want it to ever be fully white or black */
