h1 {
  margin: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  height: auto;
}

.quote--image__container {
  display: flex;
  flex-direction: row;

  width: 95%;
  height: 50vh;
  background-color: rebeccapurple;

  /* added 11:50PM */
  margin: auto;
}

.quote--image__container > img {
  margin: auto;
  width: 35%;
  height: auto;
}

.quote--button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  height: auto;

  margin: 0.85rem;
}

.quote--button__container > button {
  width: 13rem;
  margin: 10px;

  font-size: 1.15rem;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
}
