/* .app > h1 {
  margin: 5px 5px 10px 20px;
  padding-left: 5px;

  font-size: 3.75rem;
} */

.quote {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  height: auto;
}

.quote--container {
  display: flex;
  flex-direction: column;

  margin: auto;
  height: 500px;
  width: auto;
  padding: 40px;

  /* background-color: khaki; */
  background-color: #fffdcc;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 8px 8px #807f66;
}

.quote--container__text {
  font-size: 3.5rem;
}

.quote--container__author {
  font-size: 3rem;
}

.quote--button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 99%;
  height: auto;

  margin: 0.85rem;
}

.quote--button__container > button {
  width: 13rem;
  height: 2.5rem;
  margin: 10px;

  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  border: 1.25px solid black;
  border-radius: 10px;

  background-color: #99ddff;
}

.quote--button__container > button:hover {
  background-color: #749eb3;
}
